<div class="container">
  <div class="contact-container" id="contact">
    <h1>Contact</h1>
    <p>Nunc consequat interdum varius sit amet mattis vulputate enim nulla. Vulputate odio ut enim blandit volutpat maecenas. Augue eget arcu dictum varius duis at consectetur lorem. Eget nunc scelerisque viverra mauris in. Orci nulla pellentesque dignissim enim sit amet. Nisl tincidunt eget nullam non nisi est sit. Elit at imperdiet dui accumsan sit. Maecenas pharetra convallis posuere morbi leo urna. Quam adipiscing vitae proin sagittis nisl rhoncus. </p>

    <h4> Party hosting, 55th Mixing St, 12345 Alexandria, VA</h4>

    <p> You can also contact us by phone +1 000-123-4567 or email eofree@essentials.com, or you can send us a message here:</p>

    <form>
      <div class="row">
        <div class="col-sm">
          <p><input class="contact-input contact-padding" type="text" placeholder="Name" required name="Name"</p>
          <p><input class="contact-input contact-padding" type="number" placeholder="How many people" required name="People"</p>
          <p><input class="contact-input contact-padding" type="datetime-local" placeholder="Date and time" required name="date" value="2019-01-01T20:00"</p>
          <p><input class="contact-input contact-padding" type="text" placeholder="Message" required name="Message"</p>
          <p><button class="contact-button contact-section light-purple" type="submit">Submit</button></p>
        </div>
      </div>
    </form>
  </div>
</div>
