<div class="container">
  <div class="contact-container" id="thank-you">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Thank you for your purchase.</p>
      </div><!-- / panel-body -->
    </div><!-- / panel -->
  </div>
</div>
