<p id="notice"><%= notice %></p>

<h1>Products</h1>
<div class="container-fluid">
  <div class="container ">
    <div class="row">
      <% @products.each do |product| %>
        <% cache (cache_key_for_products) do %>
          <%= render @products %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
  <br>
<div class="container">
  <%= link_to 'New Product', new_product_path, class: 'link_to' %>
</div>
