<div class="container">
  <h1>New Product</h1>
  <div class="new-products container">
    <%= render 'form', product: @product %>

    <%= link_to 'Back', products_path, class: 'link_to' %>
  </div>
</div>
